<tr>
  <td class="order_id"><%= (t ".order_id") %>: <%= order.id %></td>
  <td>User name:
      <%= order.user_id == 1 ? "(GUEST)" : order.user.name %>
  </td>
  <td>
    <%= link_to "Delete", [:admin, order], method: :DELETE, data: { confirm: "Are You Sure!" } %>
    <%= select_tag "order[][name]",
      options_for_select(
        [
          ["Waiting", "waiting"],
          ["Approved", "approve"]
        ], selected: order.status
      ),
      id: "order-#{order.id}"
    %>
  </td>
  <% order.order_details.each do |order_detail| %>
    <tr>
      <td><%= (t ".product_id") %>:
        <%= order_detail.product.name %>
      </td>
      <td><%= (t ".quantity") %> <%= order_detail.quantity %></td>
      <td><%= (t ".total_price") %> <%=  order_detail.total_price %></td>
    </tr>
  <% end %>
  <td></td>
  <td></td>
  <td colspan="2"><%= (t ".total_order") %> <%= order.total %></td>
</tr>
<tr>
  <td></td>
</tr>
