<div class="container margin-slide">
  <h2><%= t ".shop" %></h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th><%= t ".product" %></th>
        <th><%= t ".quantity" %></th>
        <th><%= t ".price" %></th>
        <th><%= t ".total_price" %></th>
        <th><%= t "delete" %></th>
      </tr>
    </thead>
    <tbody>
      <% if @array_product.present? %>
        <% @array_product.each do |item| %>
          <tr>
            <td><%= item.name %></td>
            <td>
              <%= form_tag update_cart_path(product_id: item.id), method: :PUT do %>

                <%= number_field_tag :quantity, session[:cart][item.id.to_s] %>
                <%= submit_tag (t ".edit"), class: "btn btn-success" %>
              <% end %>
            </td>
            <% if (check_quantity_rest item) == 1%>
              <td><%= item.price %></td>
              <td><%= item.price * session[:cart][item.id.to_s] %></td>
              <td><%= link_to (t "delete"), delete_cart_path(product_id: item.id), method: :DELETE%></td>
            <% elsif (check_quantity_rest item) == 2 %>
              <td colspan="3"><h4 style="color: red"><%= t ".please_select_quantity" %> </h4></td>
            <% else %>
              <td colspan="3"><h4 style="color: red"><%= t ".out_of_stock" %> </h4></td>
              <% session[:cart][item.id.to_s] = 0  %>
            <% end %>
          </tr>
        <% end %>
        <tr>
          <td colspan="3">Total: </td>
          <td colspan="2"><%= total_price_order = total_order %></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td colspan="2">
            <% if logged_in? %>
              <%= link_to (t "checkout"), order_details_path(total:total_price_order), method: :POST, class: "btn btn-success btn-checkout"%>
            <% else %>
              <button class="btn btn-success btn-show-form"><%= t "checkout" %></button>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= render partial: "form_cart_checkout", locals: {total_price_order: total_price_order} %>

