<!-- Footer -->
<div class="backgroundblack" >
  <div class="container">
    <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <h2><%= t ".infomation" %></h2>
        <ul>
          <li>
            <a href=""><i class="fas fa-user"></i><%= t ".informobile" %></a>
          </li>
          <li><i class="fas fa-phone-volume"></i> <%= t ".phoneR" %></li>
        </ul>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <h2><%= t ".support" %></h2>
        <ul>
          <li>
            <a href=""><i class="fas fa-truck"></i> <%= t ".transport" %></a>
          </li>
        </ul>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <h2><%= t ".contact" %></h2>
        <ul>
          <li>
            <a href="#"><i class="fab fa-facebook"></i> <%= t ".face" %></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-youtube"></i> <%= t ".youtube" %></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row text-center">
      <h5><%= t ".iso" %> </h5>
    </div>
  </div>
</div>
<!-- end Footer -->
