<!-- tao Modal Box Dang ky Dang Nhap -->
<div class="container background">
  <div class="modalbox dklogin">
    <button class="clickdk"><%= t ".registration" %></button>
    <button class="clickdn"><%= t ".login" %></button>
    <button class="x">X</button>
    <!-- div Dang Ky -->

    <div class="signup">
      <%= form_for :user, url: users_path, method: :POST do |f| %>
        <table align="center">
          <tr>
            <td><span><%= f.label :name %></span></td>
            <td>
              <%= f.text_field :name, class: "form-control" %>
            </td>
          </tr>
          <tr>
            <td><span><%= f.label :password %></span></td>
            <td>
              <%= f.password_field :password, class: "form-control" %>
            </td>
          </tr>
          <tr>
            <td><span><%= f.label :password_confirmation, "Confirmation" %></span></td>
            <td>
              <%= f.password_field :password_confirmation, class: "form-control" %>
            </td>
          </tr>
          <tr>
            <td><span><%= f.label :phone %></span></td>
            <td>
              <%= f.number_field :phone, class: "form-control", size: 300 %>
            </td>
          </tr>
          <tr>
            <td><span><%= f.label :email %></span></td>
            <td>
              <%= f.email_field :email, class: "form-control" %>
            </td>
          </tr>
          <tr>
            <td colspan="2" class="text-center">
              <button class="btn btn-success"><%= t ".registration" %></button>
            </td>
          </tr>
        </table>
      <% end %>
    </div>
      <!-- end div Dang Ky -->
    <div class="loginn">
      <%= form_for :session, url: login_path, method: :POST do |f| %>
        <table align="center">
          <tr>
            <td><span><i class="fas fa-user"></i></span></td>
            <td>
              <%= f.text_field :email, class: "form form-control" %>
            </td>
          </tr>
          <tr>
            <td><span><i class="fas fa-lock-open"></i></span></td>
            <td>
              <%= f.password_field :password, class: "form form-control" %>
            </td>
          </tr>
          <tr>
            <td colspan="2" class="text-center">
              <button class="btn btn-success"><%= t ".login" %></button>
            </td>
          </tr>
          <tr>
            <td colspan="2" class="text-center">
              <span><%= t ".notyetaccount" %></span>
              <button class="dk" href="#"><%= t ".registration" %></button>
            </td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
</div>  <!-- end Modal Box -->
