<% if params[:q].present? %>
  <% provide :title, t("list_result") %>
<% else %>
  <% provide :title, "" %>
<% end %>
<%= render "common/user/slide" %>
<%= render "top_trends" %>
<%= render "iphone_products" %>
<%= render "samsung_products" %>

<div class="container background">
  <legend id="title_product"><%= t "other_product" %></legend>
  <div class="row">
    <% if @products.present? %>
      <%= render @products %>
    <% else %>
      <h4><%= t "search_fail" %></h4>
    <% end %>
  </div>
</div>

<%= render "sale" %>

<script type="text/javascript">
  if (<%= params[:q].present? %>){
    document.getElementById("title_product").innerHTML= "List Result" ;
  }
</script>
